<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="favicon.png" sizes="16x16" type="image/png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/pulse.css" type="text/css">
</head>
<body onload="GetArduino()">
    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Marchamos Bot", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)
                    </li>
                    <li>@Html.ActionLink("Documentacion", "Welcome", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" >
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Marchamos Bot</p>
        </footer>
    </div>
    <!-- This is a Branch Test-->
    <script>function GetArduino() { $.get("/Home/GetArduino", function (data) { $("#codex").addClass('hidden'); j = ""; j = data; if (j != "") { $("#codex").html(data); $("#codex").removeClass('hidden'); setTimeout(function () { GetArduino(); }, 2000); } }); }</script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>