<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="favicon.png" sizes="16x16" type="image/png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/pulse.css" type="text/css">
</head>
<body onload="GetArduino();">

    <audio id="xyz"  preload="auto">
        <source src="http://www.freesound.org/data/previews/144/144418_62484-lq.mp3" type="audio/mp3">
    </audio>

  
    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Marchamos Bot", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)
                    </li>
                    <li>@Html.ActionLink("Documentacion", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Perfiles", "Index", "Arduino", new { area = "" }, null)</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" >
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Marchamos Bot</p>
        </footer>
    </div>
    <script>
    function GetArduino() {
        $.get("/Home/GetArduino/", function (data) {

          
            

         //   j = "nada"; 
          //  j = data; Cambio Josué

           // if (j != "nada") {
            //alert(data);
        //    if (data == null) {
          //      GetArduino();
           // }else{
               $("#codex").html(data);
               if (data == "") {
                   GetArduino();
               }
               else {
                   $("#xyz").trigger('load');
                   $("#xyz").trigger('play');
                setTimeout(function () {
                    GetArduino();
                }, 2000);
                }
             //  }

        });
    }

    function getUserData() {
        var s = $('#idU').val();

        $.get("/Arduino/GetUsers/", function (data) {

            var cont = 0;
            
           
            while (cont != data.length) {
                
                if (data[cont].ID == s) {    
                    $('#nombre').html(data[cont].Propietario);
                    $('#tarjeta').html(data[cont].Code);
                    $('#auto').html(data[cont].Auto);
                    $('#multas').html(data[cont].Multas);
                }
                cont = cont + 1;
            }
           // alert(data[0].Nombre);
           
        }); 
    }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

</body>
</html>